main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

}

.services-images img {
    width: 400px;
}

article {
    background-color: lightgray;
    border-radius: 16%;
    overflow: hidden;
    text-align: center;
    margin: 20px 0;
}