:root {
    --primary-color: #FFBBBB;
    --secondary-color: #D9D9D9;
    --background-color: #8B8B8B;
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    justify-content: space-between;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo a img {
    height: 40px;
}

.name {
    font-size: 32px;
}

.coder-text {
    color: #45A7C5;
}

.academy-text {
    color: #1C3C5C;
}

nav {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.socialmedia a i {
    font-size: 30px;
    color: rgb(63, 207, 255);
}

.info {
    color: #1C3C5C;
}
.info p {
    margin: 5px 0;
}